cmake-build*
.BATCH
.build
build/*
.directory
po/POTFILES.in.test
temp
tmp
master.zip
OCPNAndroidCommon*
# Ignore curl build trees
win_curl/build32/
win_curl/build64/
win_curl/curl/
win_curl/openssl/
win_curl/zlib/
